<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="menubar">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">ЛР №4</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/lecturer/list}">Викладачі</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/timing/list}">Часи занять</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/discipline/list}">Предмети</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/room/list}">Аудиторії</a>
                </li>
            </ul>

        </div>
    </div>
</nav>